blis
boto3
botocore
certifi
charset-normalizer
contourpy
cycler
cymem
fonttools
idna
importlib-resources
jmespath
joblib
kiwisolver
matplotlib
murmurhash
numpy
packaging
pandas
Pillow
plac
preshed
pyparsing
python-dateutil
pytz
requests
s3transfer
scikit-learn
scipy
seqeval
six
srsly
thinc
threadpoolctl
tqdm
tzdata
urllib3
wasabi
zipp
